################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GPGPU-Rasterizer/.vs/GPGPU-Rasterizer/v16
/GPGPU-Rasterizer/x64
/GPGPU-Rasterizer/Release
/GPGPU-Rasterizer/Application/x64
/GPGPU-Rasterizer/Application/Release
/GPGPU-Rasterizer/Application/Debug
/GPGPU-Rasterizer/Debug
/GPGPU-Rasterizer/Win32
/GPGPU-Rasterizer/DXLib/x64
/GPGPU-Rasterizer/DXLib/Win32
/GPGPU-Rasterizer/DXLib/Release
/GPGPU-Rasterizer/DXLib/Debug
/GPGPU-Rasterizer/DX11-HardwarePipeline/x64
/GPGPU-Rasterizer/DX11-HardwarePipeline/Win32
/GPGPU-Rasterizer/DX11-HardwarePipeline/Release
/GPGPU-Rasterizer/DX11-HardwarePipeline/Debug
/GPGPU-Rasterizer/Compu-Raster/Debug
/GPGPU-Rasterizer/Compu-Raster/Release
/GPGPU-Rasterizer/Compu-Raster/x64
/GPGPU-Rasterizer/Compu-Raster/Win32
*.diagsession
